h1 {
    font-size: 3em;
}

.accordion {
    isolation: isolate;
    
    padding: 2em 3em;
    border-radius: 2rem;

    background-color: white;
    box-shadow: 0 28px 24px -2px rgba(0, 0, 0, 0.2);

    max-width: 450px; /* for mobile */
}

.accordion__heading {
    text-align: center;
}

.accordion__container {
    margin-bottom: 3rem;
}

.accordion__item {
    padding-block: 1rem;
    border-bottom: 1px solid var(--divider-gray);
}

.accordion__title {
    font-weight: 400;
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: color 200ms ease;
}
.accordion__title:hover {
    color: var(--text-primary-400);
}

.accordion__item--active > .accordion__title {
    font-weight: 700;
}

.accordion__body {
    margin: 0;
    max-width: 85%;
    overflow: hidden;

    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--text-neutral-700);

    transition: height 250ms ease;
}

.chevron {
    margin-left: auto;
    transition: transform 200ms ease;
}
.accordion__item--active .chevron {
    transform: rotate(180deg);
}

@media screen and (min-width: 1200px) {
    .accordion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

        padding: 0;
        max-width: 1080px;
    }

    #faq {
        padding-block: 4em;
        padding-inline-end: 3em;
    }

    .accordion__heading {
        text-align: start;
    }
}
